.pfd{
  margin-bottom:0px;
  margin-top: 0px;
  padding-top:0px;
}

.link {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .active-link {
    display: flex;
    align-items: center;
    color: rgb(245, 3, 3);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #collasible-nav-dropdown {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }

  .backg{
    background-color:orange;
    width: 100%;
    padding-bottom:20px;
  }